<div class="alert-overlay" style="display:none" id="compareModal">  
<div class="main-content">
<p>{{ 'products.compare.limit' | t }}</p>
<a href="/pages/compare" class="button">{{ 'products.compare.view_compare' | t }}</a>
<span class="closebtn" id="compareModalClose"> {% render 'icon-close' %}</span> 
</div>   
</div>  