.newsletter-container .newsletter__wrapper {
  padding: 3rem 0;
}
.newsletter-container .newsletter-modal:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(var(--color-background));
  opacity: 0.7;
}
.newsletter-container .newsletter-modal:before {
  content: "";
  display: block;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.newsletter-container .newsletter__button {
  margin-top: 0;
  margin-left: -2px;
}
.newsletter-modal.text-center .newsletter__wrapper {
  text-align: center;
}
.newsletter-modal.text-start .newsletter__wrapper {
  text-align: left;
}
.newsletter-modal.text-end .newsletter__wrapper {
  text-align: right;
}
.newsletter-modal.text-endt .list-social {
  justify-content: right;
}
.newsletter-modal.text-start .list-social {
  justify-content: left;
}
.newsletter-modal.text-center .list-social {
  justify-content: center;
}
.newsletter-container .newsletter-modal .field__label {
  top: calc(1.3rem + var(--inputs-border-width));
}
.newsletter-container .newsletter-modal .field__input {
  height: 5rem;
}
.newsletter-container .list-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  justify-content: unset;
}
.newsletter-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 16;
  top: 0;
  left: 0;
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  visibility: visible;
  margin: auto;
  height: 100%;
  width: 100%;
  transition: all linear 0.3s;
}
.newsletter-modal {
  padding: 40px;
}
.newsletter-modal .newsletter__wrapper > *:not(:last-child) {
  margin: 0 0 2rem;
}

.newsletter-modal {
  display: flex;
  flex-wrap: wrap;
  padding: 45px 30px 30px;
  width: 1200px;
  height: 670px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 0.3s;
  z-index: 1;
  background-size: initial;
  background-position: center;
  border-radius: var(--buttons-radius);
  overflow: hidden;
}

span.newsletter-container-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--gradient-base-accent-1);
}

a.close-window.icon-button.close-icon {
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 15px;
}
a.close-window.icon-button.close-icon svg {
  width: 2.4rem;
  height: 2.4rem;
}
.newsletter-form__field-wrapper {
  display: flex;
}

@media screen and (max-width: 576px) {
  .newsletter-form__field-wrapper {
    display: block;
  }
  .newsletter-content button.newsletter__button.button {
    margin-top: 20px;
  }
}
/* custom css */
.newsletter-container .newsletter-modal:before {
  display: none;
}
.newsletter-modal .newsletter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.newsletter-container .newsletter-modal .newsletter__wrapper {
  width: 480px;
}
.newsletter-modal.text-center .list-social{width:480px;}
.newsletter-modal.text-center .list-social .list-social__link{padding:0 1rem;}
.newsletter-modal .newsletter__wrapper .title-wrapper-with-link {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.newsletter-container .newsletter-modal .newsletter__button {
    position: relative;
    right: 0;
    height: 4.8rem;
    border-radius: var(--inputs-radius);
    border: none;
    top: 0;
    margin-left: 10px;
}
.newsletter-container .newsletter-modal .newsletter__button:hover{
background:rgba(var(--color-base-outline-button-labels));
}
.newsletter-container .newsletter-modal .field__input {
  margin: 0;
  height: 4.8rem; background: var(--gradient-base-background-1);
}
.newsletter-container .newsletter-modal .newsletter__subheading.rte {
  max-width: 420px;
  margin: 0 auto 40px;
}
.newsletter-modal {
  padding: 45px 120px;
}
a.close-window.icon-button.close-icon {
  right: 30px;
  top: 30px;
  transition: all var(--duration-default) linear;
  color: var(--gradient-base-background-1);
}
a.close-window.icon-button.close-icon svg {
  transition: all var(--duration-default) linear;
  fill:currentcolor;
}
a.close-window.icon-button.close-icon:hover  {
      color: rgba(var(--color-base-solid-button-labels));
}
.newsletter-container .newsletter-modal .newsletter__button.button:before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.newsletter-modal .newsletter__wrapper{padding: 0 0 3rem 0;}

@media screen and (max-width: 1600px) {
  .newsletter-modal {
    height: 500px;
    width: 1100px;
  }
}
@media screen and (max-width: 1199px) {
  .newsletter-modal {
    height: 80vh;
    width: 80%;
  }
}
@media screen and (max-width: 990px) {
/*   .newsletter-container .newsletter-modal:before {
    display: block;
    opacity: 0.5;
  } */
  .newsletter-modal .newsletter-content {
    align-items: center;
  }
  .newsletter-modal {
    padding: 45px;
/*     background-position: left; */
  }
  .newsletter-container .newsletter-modal .newsletter__wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .newsletter-container .newsletter-modal .newsletter__button {
    position: relative;
    border-radius: var(--buttons-radius-outset);
  }
  .newsletter-modal {
    padding: 30px;
    height: 85vh;
    width: 90%;
  }
  .newsletter-modal .newsletter__wrapper .title-wrapper-with-link {
    font-size: calc(60px * 0.6);
  }
  .newsletter-container .newsletter-modal .newsletter__subheading.rte {
    margin: 0 auto 40px;
  }
  .newsletter-form__field-wrapper .field__input{padding:0 2rem;}
}
