.number-counter-section.grid--1-col-desktop { display: grid;  grid-template-columns: repeat(1,1fr);}
.number-counter-section.grid--2-col-desktop { display: grid;  grid-template-columns: repeat(2,1fr);}
.number-counter-section.grid--3-col-desktop { display: grid;  grid-template-columns: repeat(3,1fr);}
.number-counter-section.grid--4-col-desktop { display: grid; grid-template-columns: repeat(4,1fr);}
.number-counter-section.grid--5-col-desktop {  display: grid; grid-template-columns: repeat(5,1fr);}
.number-counter-section.grid--6-col-desktop { display: grid; grid-template-columns: repeat(6,1fr);}
.number-counter-block.column-alignment-center{ align-items: center;  display: flex; flex-direction: column;}
.number-counter-block.column-alignment-left{text-align:left;}
.title-wrapper-with-link.title-wrapper--self-padded-mobile.title-wrapper--no-top-margin.content-align--center { text-align: center;}
.title-wrapper-with-link.title-wrapper--self-padded-mobile.title-wrapper--no-top-margin.content-align--left { text-align: left;}
.number-counter-icon img.support-block-card__image{width:100px; height:auto;}
@media screen and (max-width: 749px){
.number-counter-section.grid--4-col-desktop{
  display: grid;  grid-template-columns: repeat(2,1fr);
}
}
/* @media screen and (min-width: 750px) and (max-width: 1200px) {
.number-counter-section.grid--4-col-desktop{
  display: grid;  grid-template-columns: repeat(3,1fr);
}
} */
.number-counter-section-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.number-counter-section{ align-items:flex-start;}


/* custom css */
.custom-number-section .number-counter-section-wrapper{padding: 0px 100px 90px;border-radius:30px;flex-direction: row-reverse;}
.custom-number-section .number-counter-wrapper .title-wrapper-with-link .description{max-width: 690px;text-transform: initial;}
.custom-number-section .number-counter-wrapper .number-counter-block h3{font-size:72px;margin:0;font-weight:400; transition: all 400ms ease-in-out;}
.custom-number-section .number-counter-wrapper .number-counter-block h3 .number-counter-value{font-weight:700;}
.custom-number-section .number-counter-wrapper .number-counter-block .number-counter-title {margin: 0;font-size: 24px; font-weight: 500;}
.custom-number-section .number-counter-wrapper .number-counter-block{position:relative;z-index:1;}
.custom-number-section .number-counter-wrapper .number-counter-block:not(:last-child):after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #ecc6c2;
    right: 20px;
    top: 0;
}
.custom-number-section .number-counter-wrapper .number-counter-block:not(:last-child){padding-right: 40px;}
.custom-number-section .number-counter-section.grid--3-col-desktop{grid-gap: 20px;}
.custom-number-section .number-counter-wrapper .number-counter-block:hover h3{color:rgba(var(--color-base-solid-button-labels));}
.custom-number-section .number-counter-wrapper .number-counter-block h3:after {
    content: '';
    position: absolute;
    background: #e0f1f7;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    z-index: -1;
    right: 50px;
    top: 0;
    transform: translateX(-50px);
    opacity: 0;
    transition: all 400ms ease-in-out;
}
.custom-number-section .number-counter-wrapper .number-counter-block:hover h3:after {width:150px;height:150px;opacity:1;}


@media screen and (max-width: 1600px){
  .custom-number-section .number-counter-wrapper .number-counter-block .number-counter-title{font-size:20px;}
}
@media screen and (max-width: 1540px){
.custom-number-section .number-counter-wrapper .number-counter-block:not(:last-child){padding-right: 20px;}
.custom-number-section .number-counter-section.grid--3-col-desktop{grid-gap: 0px;}  
}
@media screen and (max-width: 1439px){
  .custom-number-section .number-counter-wrapper .number-counter-block .number-counter-title{font-size:18px;}
  .custom-number-section .number-counter-section-wrapper {padding: 60px;}
 .custom-number-section .number-counter-wrapper .number-counter-block:not(:last-child){padding-right: 10px;}
  .custom-number-section .number-counter-wrapper .number-counter-block:hover h3:after{width: 120px;height: 120px;}
}
@media screen and (max-width: 1199px){
.custom-number-section .number-counter-wrapper .number-counter-block:not(:last-child):after{display:none;}
.custom-number-section .number-counter-wrapper .number-counter-block:hover h3:after{width:100px;height:100px;}
}
@media screen and (max-width: 990px){
.custom-number-section .number-counter-wrapper .number-counter-block h3 {font-size: 60px;}
}
@media screen and (max-width: 767px){
.custom-number-section .number-counter-wrapper .number-counter-block:not(:last-child){padding-right: 0px;}  
.custom-number-section .number-counter-section.grid--3-col-desktop{grid-template-columns: repeat(2,1fr);grid-gap: 20px;}
}
@media screen and (max-width: 576px){
  .custom-number-section .number-counter-section-wrapper {padding: 40px;}
}
@media screen and (max-width: 480px){
  .custom-number-section .number-counter-section-wrapper {padding: 30px;}
  .custom-number-section .number-counter-section.grid--3-col-desktop {grid-template-columns: repeat(1,1fr);}
  .custom-number-section .number-counter-wrapper .number-counter-block h3:after{display:none;}
}