.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 0rem;
}
.article-template__hero-container .media {
  border-radius: var(--buttons-radius);
}
@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(0rem + var(--page-width-margin));
  }
}
textarea#CommentForm-body {
  min-height: 16rem;
  padding-left: 3rem;
}
.article-template__comment-fields .field__input {
  min-height: 5rem;
}
.article-template__comment-fields .field__input {
  padding-left: 3rem;
}
.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 3rem;
  }
}

.article-template__title {
  margin: 0;
  letter-spacing: 0;
  font-weight: 600;
}

.article-template__title:not(:only-child) {
  margin-bottom: 2rem;
}
.article-card__info.caption-with-letter-spacing.h5
  .caption-with-letter-spacing {
  font-size: 2rem;
  letter-spacing: 0;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 1.8rem;
  color: var(--gradient-base-accent-1);
  transition: all 0.3s linear;
}
.blog-content__area .article-card__info.caption-with-letter-spacing.h5
  .caption-with-letter-spacing.author-name{color:rgba(var(--color-base-solid-button-labels));padding-right:10px;}
.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}
@media screen and (min-width: 577px) {
  .article-template__comment-wrapper {
    margin-top: 5rem;
    padding: 2.7rem;
  }
}
@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3rem;
/*     max-width: 80rem; */
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
  text-transform: capitalize;
}

.article-template__comments {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 5rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-base-accent-1),0.05);
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap: 3rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}
.article-template .page-width {
  width: 100%;
}
@media screen and (min-width: 990px) {
  .article-template .page-width {
    width: 100%;
  }
}
.article-template .article-card__info {
  line-height: 25px;
}

.blog-details h3 {
  font-weight: 600;
}
.blog-details ul li {
  padding-bottom: 1.5rem;
}
.blog-details .grid-image-2 {
  margin-left: 3rem;
}
.blog-details .grid-blocks {
  display: flex;
}
.newsletter-checkbox {
  margin-top: 2rem;
}

/*sidebar*/
.blog-articles .article-card .card__information h3.card__heading {
  font-size: 2.2rem;
}
/* .underline-links-hover:hover .article-card__excerpt{color: var(--gradient-base-accent-2);} */
.widget-tags ul.categories {
  list-style: none;
  padding: 0;
}
.widget-tags ul.categories li {
  padding: 0 0rem 0 0;
}
.widget-tags ul.categories {
  display: flex;
  flex-wrap: wrap;
}
/* .widget-image {
  margin-top: 6rem;
} */
.widget-tags ul.categories li a {
   color: var(--gradient-base-accent-1);
    padding: 7px 1rem;
    border-radius: var(--buttons-radius);
    font-weight: 300;
    background-color: rgba(var(--color-base-accent-3),0.1);
    display: flex;
    align-items: center;
    margin: 0.5rem;
}
h6.article-title {
  line-height: 1.6em;
}
.widget-tags ul.categories li a:hover {
  color: var(--gradient-base-background-1);
  background: rgba(var(--color-base-solid-button-labels));
}
ul.swiper-wrapper {
  padding: 0;
  list-style: none;
}

ul.product-list-style {
  list-style: none;
  padding: 0;
}
.blog-sidebar aside {
  width: var(--sidebar-width);
}
.main-blog {
  display: flex;
}
.share-icon .blog-sidebar-panel {
  margin-left: 1rem;
}
.article-template__comment-wrapper h2 {
  font-weight: 600;
}
ul.recent_article {
  list-style: none;
  padding: 0;
}
ul.recent_article li.article-item {
  display: grid;
  grid-template-columns: auto 2fr;
  align-items: center;
  gap: 15px;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px dashed var(--DTColor_Border);
}
ul.recent_article .article-image {
  width: 74px;
  height: 90px;
}
ul.recent_article li.article-item .article-description {
  color: var(--gradient-base-accent-2);
}
ul.recent_article .article-image img {
  width: 100%;
  height: 100%;
}
h6.article-title {
  font-size: 1.8rem;
  margin: 0;
  font-family: var(--font-heading-family);
}
h6.article-title a {
  color: var(--gradient-base-accent-1);
  font-weight: 500;
  line-height: 29px;
  font-size: 2rem;
  transition: all 0.3s linear;
  font-weight: 500;
}
.article-description p {
  font-size: 1.8rem;
  padding: 0;
  margin: 5px 0;
  line-height: 25px;
}
h6.article-title:hover a {
  color: var(--gradient-base-accent-2);
  text-underline-offset: 0.3rem;
}
/*  a.blog__button.button {  min-width: 0;  min-height: 0;  padding: 0;  background: none;  margin: 2.5rem 0 0;} */
.blog-sidebar span.close-sidebar {
  position: absolute;
  top: 2rem;
  right: 0rem;
  width: 4.4rem;
  height: 4.4rem;
  cursor: pointer;
}
.blog-sidebar span.close-sidebar svg {
  width: 2.2rem;
}
.blog-sidebar.facets-vertical {
  padding-right: 3rem;
}
button.toggleFilter svg.icon.icon-filter {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--gradient-base-background-2);
}
.blog-sidebar span.close-sidebar {
  display: none;
}
.widget-articles .sidebar_title {
  margin-top: 0;
}

.blog-date .caption-with-letter-spacing {
  font-size: 1.3rem;
  letter-spacing: 0.13rem;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 400;
}
.article-template__comment-wrapper h2 {
  margin-bottom: 3.5rem;
}
.article-template__comment-wrapper .description {
  margin-bottom: 3rem;
}
textarea#CommentForm-body {
  background-color: var(--gradient-base-background-1);
}

.article-template__comment-fields .field__input {
 background-color: var(--gradient-base-background-1);
}

@media screen and (max-width: 749px) {
  .blog-sidebar.facets-vertical aside {
    position: fixed;
    overflow-y: scroll;
    padding: 15px;
    max-width: 80%;
    top: 0;
    left: calc(var(--sidebar-width) * -1);
    height: 100%;
    background: var(--gradient-background);
    margin: 0;
    z-index: 17;
    transition: all 0.3s linear;
  }
  .blog-sidebar.facets-vertical.open aside {
    left: 0;
  }
  button.toggleFilter {
    height: 40px;
    width: 110px;
    background: transparent;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--gradient-base-background-2);
    font-size: 1.8rem;
  }
  .main-blog {
    display: block;
  }
  .blog-sidebar span.close-sidebar {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .share-icon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .share-icon {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-width: 576px) {
  .dt-sc-blog-navigation {
    display: none;
  }
  .blog-details .grid-image-2 {
    margin: 0;
  }
  .blog-details .grid-blocks {
    flex-direction: column;
  }
  .article-template__title {
    font-size: 2.6rem;
  }
  .blog-articles .article-card .card__information h3.card__heading {
    font-size: 2.2rem;
  }
}

.blog-sidebar.facets-vertical.open:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
  background-color: rgba(0, 0, 0, 0.7);
}
.dt-sc-blog-navigation .prev a {
  color: var(--gradient-base-accent-1);
  font-size: 13px;
  letter-spacing: 2.6px;
  font-weight: 500;
  text-transform: uppercase;
}
.article-template a.link.text-social__link {
  padding: 1rem;
  display:flex;
}
.article-template .team__list-social li.list-social__item:hover:hover {
  background: transparent ;
}
.article-template a.link.text-social__link span {
  padding: 0.5rem;
}
/* .article-template a.link.text-social__link span:hover {
  background: var(--gradient-base-background-2);
} */
/* .article-template li.list-social__item:not(:last-child):after {
  content: "-";
} */
.article-template a.link.text-social__link span {
  font-weight: 600;
  display:none;
}
.widget-tags ul.categories {
  margin-left: 0px;
}
.dt-sc-blog-navigation .prev:hover a,
.dt-sc-blog-navigation .next:hover a {
  color: rgba(var(--color-base-solid-button-labels));
}
.dt-sc-blog-navigation .next a {
  color: var(--gradient-base-accent-1);
  font-size: 13px;
  letter-spacing: 2.6px;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (min-width: 577px) {
  .dt-sc-blog-navigation {
    display: flex;
    justify-content: space-between;
  }
}
.article-template__comment-wrapper {
  background-color: transparent;padding:0;
}
.share-icon .widget-tags {
  display: flex;
  align-items: center;
}
.dt-sc-blog-navigation .prev,
.dt-sc-blog-navigation .next {
  display: flex;
}
.dt-sc-blog-navigation .prev span {
  margin-right: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.dt-sc-blog-navigation .prev span svg,
.dt-sc-blog-navigation .next span svg {
  transition: all 0.3s linear;
}
.dt-sc-blog-navigation .prev:hover span svg,
.dt-sc-blog-navigation .next:hover span svg {
  fill: rgba(var(--color-base-solid-button-labels));
}
.dt-sc-blog-navigation .prev span svg {
  transform: rotate(0deg);
}
.dt-sc-blog-navigation .next span {
  margin-left: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.dt-sc-blog-navigation {
  margin-top: 6rem;
}
.article-template__hero-adapt .blog-date {
  text-transform: uppercase;
  font-weight: 400;
  position: absolute;
  top: 4rem !important;
  left: 4rem !important;
  padding: 1rem !important;
  height: fit-content !important;
  margin: auto;

  max-width: 8rem !important;
  justify-content: center;
  letter-spacing: 2.6px;
  display: flex !important;
  border-radius: 0.5rem;
  background-color: var(--gradient-base-accent-1);
  color: var(--gradient-background);
  font-size: 1.3rem;
}
.share-icon .widget-tags h4 {
  font-weight: 600;
  font-size:1.8rem;
}
.article-template__comment-wrapper footer.right svg {
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
    margin-right:8px;
}
@media screen and (min-width: 750px){
  .blog-content__area {
    width: calc(100% - 380px);
    position: sticky;
    top: 0;
    height: fit-content;
}
}
@media screen and (max-width: 749px) {
.article-template .blog-sidebar.facets-vertical{display:none;}
}

 .blog-content__area .slider-social { display: flex; align-items: center;}
 .blog-content__area .slider-social span{  font-weight: 600;  font-family: var(--font-heading-family); font-size: 1.8rem;}
.blog-content__area ul.team__list-social{    margin: 0 0 0 1rem;}

@media screen and (max-width: 1100px) {
.share-icon{flex-direction: column; align-items: flex-start;}
.share-icon .widget-tags h4{width:50px; }
}  

/* custom css */
.blog-content__area .article-template__content .quotes-section {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    line-height: 1.8em;
    color: rgba(var(--color-base-solid-button-labels));margin: 30px 0;
}
.blog-content__area .article-template__content .image-wrapper{    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;margin: 40px 0;}
.blog-content__area .article-template__content .blog-wrapper >  p{color:var(--gradient-base-accent-2);font-size:18px;font-weight:300;}
.blog-content__area .article-template__content .blog-wrapper .blog-list-items li{font-size:20px;margin-bottom:8px;}
.blog-sidebar-panel .recent_article .article-item .article-description p{display:none;}
.blog-sidebar-panel .recent_article .article-item h6.article-title a{font-size:1.8rem;}
.blog-sidebar-panel ul.recent_article li.article-item .article-description {color: rgba(var(--color-base-solid-button-labels));font-weight: 500;}
.blog-sidebar-panel .recent_article .article-item  h6.article-title:hover a{color: rgba(var(--color-base-solid-button-labels));}
ul.recent_article li.article-item{    box-shadow: 0px 0px 31.5px 3.5px rgb(0 0 0 / 5%); padding: 10px 20px; border-radius: 15px;}
.blog-sidebar .sidebar_title{font-size:2.4rem;margin-top:0;margin-bottom:20px;}
.blog-sidebar aside >*:not(:last-child){margin-bottom:45px;}

.blog-sidebar .widget-image,
.blog-sidebar .widget-tags .categories{
    box-shadow: 0px 0px 31.5px 3.5px rgb(0 0 0 / 5%);
    padding: 20px;
    border-radius: 15px;position:relative;
}
.blog-sidebar .widget-image img{border-radius:20px;}
.blog-sidebar .widget-image .button{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: calc(100% - 80px);
    right: 0;
    margin: auto;background: var(--gradient-base-background-1);
    color: rgba(var(--color-base-solid-button-labels));}
.blog-sidebar .widget-image .button:hover{color: var(--gradient-base-background-1);
    background: rgba(var(--color-base-solid-button-labels));}



@media screen and (max-width: 990px) {
.blog-content__area .article-template__content .image-wrapper{grid-template-columns: repeat(1, 1fr);}
.article-template__title{font-size:3rem;}  
}